.back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--sp-white);
    padding: none;
  }
  
.chevron-icon {
  font-size: var(--sp-icon-size-large);
  color: white;
}

.chevron-icon:hover{
  color: var(--sp-light-yellow);
}

@media (max-width: 767px) {
  .chevron-icon {
    font-size: var(--sp-icon-size-small);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chevron-icon {
    font-size: var(--sp-icon-size-medium);
  }
}