.delete-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 2px 3px;
  padding-right: 25px;
}

.delete-icon {
  font-size: var(--sp-icon-size-small);
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: gray;
}
