.edit-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin-left: auto; 
  padding: 2px 3px;
}
  
.edit-icon {
  font-size: var(--sp-icon-size-small);
  color: var(--Dark-Blue, #293642);
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: gray !important; 
}