.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 25px;
    background-color: #06705B;
}

.header-center h2 {
    font-size: var(--sp-heading-1);
    color: var(--sp-white);
    font-family: var(--sp-global-font);
    font-size: var(--sp-heading-1);
    font-weight: 700;
    max-width: 60vw;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


