.filter-menu {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--sp-gray-sp);
  border-radius: 10px;
  width: 100%;
}

.filter-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  font-size: var(--sp-heading-4);
  font-weight: bold;
  text-align: left;
}

.unselect-all-button {
  color: var(--sp-dark-green);
  border: none;
  font-size: var(--sp-heading-6);
  text-decoration: underline;
  margin-bottom: 20px;
}

.filter-menu-button {
  padding: 10px 20px;
}

.menu-icon {
  font-size: var(--sp-icon-size-small);
}

.filter-dropdown {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--sp-white);
}

.filter-options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.filter-option {
  flex-basis: 48%; /* Adjust width to fit two items per row */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--sp-gray-sp);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-option label {
  font-size: var(--sp-heading-6);
  font-weight: bold;
  margin-right: 10px;
  color: var(--sp-black);
}

.filter-option input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: var(--sp-dark-green);
}

@media (max-width: 768px) {
  .filter-option {
    flex-basis: 100%; /* Switch to one column */
  }
}
