.instructions-page {
  display: grid;
  grid-template-areas: 'top-bar';
  height: 100vh;
  background-color: #06705b;
  overflow-y: auto;
}

.ins-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: top-bar;
  position: absolute;
  top: 24px;
  left: 24px;
}

.ins-back-button {
  background: none;
  border: none;
  height: 48px;
  width: 30px;
}

.back-icon {
  color: #fff;
  height: 48px;
  width: 30px;
}

.ins-center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Added space below header */
}

.ins-header {
  color: #fff;
  font-family: Verdana;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 24px; /* Increased space below header */
  text-align: center;
}

.instructions-text {
  color: #fff;
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 70%;
  word-wrap: break-word;
}

/* Style for Phones in Portrait mode */
@media (max-width: 650px) {
  .instructions-page {
    background-color: #06705b;
    height: 100vh;
    overflow-y: hidden;
  }

  .ins-top-bar {
    position: absolute;
    top: 2vw;
    left: 2vw;
  }

  .ins-back-button {
    height: 9vw;
    width: 6vw;
  }

  .back-icon {
    height: 9vw;
    width: 6vw;
  }

  .ins-center-area {
    padding-top: 4vw; /* Space below header for small screens */
  }

  .ins-header {
    font-size: 6vw;
  }

  .instructions-text {
    font-size: 3vw;
    width: 80vw;
    line-height: 1.5;
  }
}

/* Style for extremely narrow screens in Portrait mode */
@media (max-width: 60px) {
  .instructions-page {
    height: 100vh;
    overflow-y: hidden;
  }

  .ins-top-bar {
    position: absolute;
    height: auto;
    width: auto;
  }

  .ins-back-button {
    height: 18vw;
    width: 9vw;
  }

  .back-icon {
    height: 18vw;
    width: 9vw;
  }

  .ins-center-area {
    padding-top: 5vw; /* More space below header */
  }

  .ins-header {
    font-size: 4vw;
  }

  .instructions-text {
    font-size: 2vw;
    width: 60vw;
    line-height: 3.5;
  }
}

/* Style for Phones in Horizontal mode */
@media (max-height: 420px) {
  .instructions-page {
    height: 100vh;
  }

  .ins-top-bar {
    top: 8vh;
    left: 8vh;
  }

  .ins-back-button {
    height: 12vh;
    width: 6vh;
  }

  .back-icon {
    height: 12vh;
    width: 6vh;
  }

  .ins-center-area {
    padding-top: 6vh;
  }

  .ins-header {
    font-size: 6vh;
    margin-bottom: 2vh;
  }

  .instructions-text {
    font-size: 4vh;
    width: 80%;
    margin-bottom: 2vh;
  }
}
