.instructions-page {
  display: grid;
  grid-template-areas: 'top-bar';
  height: 100vh;
  background-color: sp-dark-green;
  overflow-y: auto;
}

.ins-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: top-bar;
  position: absolute;
  top: 24px;
  left: 24px;
}

.ins-back-button {
  background: none;
  border: none;
  height: 48px;
  width: 30px;
}

.back-icon {
  color: #fff;
  height: 48px;
  width: 30px;
}

.ins-center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ins-header {
  display: flex;
  color: #fff;
  text-align: center;
  /* Mobile/Display small */
  font-family: Verdana;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
  height: 44px;
  margin-bottom: 12px;
  margin-top: 44.82px;
  align-items: center;
  justify-content: center;
}

.ins-header h2 {
  word-wrap: break-word;
}

.instructions-text {
  color: #fff;
  text-align: center;
  /* Tablet/Body large */
  font-family: Verdana;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 70%;
  word-wrap: break-word;
}

/* Style for Phones in Portrait mode */
@media (max-width: 650px) {
  .instructions-page {
    display: grid;
    grid-template-areas: 'top-bar';
    background-color: #06705b;
    height: 100vh;
    overflow-y: hidden;
  }

  .ins-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: top-bar;
    position: absolute;
    top: 2vw;
    left: 2vw;
  }

  .ins-back-button {
    background: none;
    border: none;
    height: 9vw;
    width: 6vw;
  }

  .back-icon {
    color: #fff;
    height: 9vw;
    width: 6vw;
  }

  .ins-center-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ins-header {
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    justify-content: center;
  }

  .ins-header h2 {
    word-wrap: break-word;
  }

  .instructions-text {
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    width: 80vw;
    line-height: 1.5;
    word-wrap: break-word;
  }
}

/* Style for extremely narrow screens in Portrait mode */
@media (max-width: 60px) {
  .instructions-page {
    display: grid;
    grid-template-areas: 'top-bar';
    background-color: #06705b;
    height: 100vh;
    overflow-y: hidden;
  }

  .ins-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: top-bar;
    height: auto;
    width: auto;
  }

  .ins-back-button {
    background: none;
    border: none;
    height: 18vw;
    width: 9vw;
  }

  .back-icon {
    color: #fff;
    height: 18vw;
    width: 9vw;
  }

  .ins-center-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ins-header {
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
    height: 6vh;
  }

  .ins-header h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .instructions-text {
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    width: 60vw;
    line-height: 3.5;
  }
}

/* Style for Phones in Horizontal mode */
@media (max-height: 420px) {
  .instructions-page {
    display: grid;
    grid-template-areas: 'top-bar';
    background-color: #06705b;
    height: 100vh;
  }

  .ins-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 12vh;
    width: 6vh;
    grid-area: top-bar;
    position: absolute;
    top: 8vh;
    left: 8vh;
    align-items: center;
    justify-content: center;
  }

  .ins-back-button {
    display: flex;
    background: none;
    border: none;
    height: 12vh;
    width: 6vh;
  }

  .back-icon {
    color: #fff;
    height: 12vh;
    width: 6vh;
  }

  .ins-center-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ins-header {
    display: flex;
    color: #fff;
    font-family: Verdana;
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
    height: 6vh;
  }

  .ins-header h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .instructions-text {
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 4vh;
    font-style: normal;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2vh;
    line-height: 1;
  }
}
