.manage-page {
    background-color: #06705B;
    height: 100vh;
}

.word-entry-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.title {
    font-size: 52px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.word-entry-container {
    width: 60%;
    align-items: center;
    margin: 0 auto;
    padding: 20px ;
}

.word-row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .word-text {
    font-size: 22px;
    font-weight: bold;
    color: black;
  }
  
  .word-image {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  
  .delete-icon {
    font-size: 30px;
    cursor: pointer;
    color: black;
  }
  
  .add-word {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;

  }
  
  .add-icon {
    font-size: 30px;
    color: black;
    margin-right: 15px;
  }
  
  .add-text {
    font-size: 22px;
    color: black;
    font-weight: bold;
  }