.manage-page {
  background-color: var(--sp-dark-green);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: 
    url('../../public/app_background.png');
  background-repeat: repeat;
  background-position: center;
}

.manage-page .header {
  padding: 25px 25px;
  margin-bottom: 0px;
}

.word-entry-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60vh;
  background-color: #06705B;
}

.word-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
  height: 60vh;
  row-gap: 20px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.word-list::-webkit-scrollbar {
  width: 10px;
}

.word-list::-webkit-scrollbar-thumb {
  background-color: var(--sp-light-green);
  border-radius: var(--sp-border-radius);
}

.word-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--sp-white);
  padding: 15px 20px;
  border-radius: var(--sp-button-border-radius);
}

.word-text {
  font-size: var(--sp-heading-5);
  color: var(--Dark-Blue, #293642);
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}

.word-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 5px;
}

.no-words {
  color: var(--sp-white);
  font-size: var(--sp-body-large);
  font-weight: bold;
  text-align: center;
}

/* Style for phones in portrait mode */
@media (max-width: 767px) { 
  .delete-icon {
    font-size: var(--sp-icon-size-extra-small);
  }

  .edit-icon {
    font-size: var(--sp-icon-size-extra-small);
  }

  .share-icon {
    font-size: var(--sp-icon-size-extra-small);
  }

  .word-image {
    margin-right: 0;
  }

}

/* Style for phones in horizontal mode */
@media (max-height: 450px) {
  .manage-page {
    background-image: none;
  }

  .word-image {
    margin-right: 10px;
  }

}
