.word-page {
  background-color: var(--sp-dark-green);
  height: 100vh;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.new-word-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 25px;
}

.new-word-header h2 {
  font-size: var(--sp-heading-1);
  font-weight: bold;
  color: var(--sp-white);
  margin: 0 auto;
}

.new-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin-top: 50px;
  height: auto;
}

label {
  font-size: var(--sp-heading-5);
  font-weight: bold;
  color: var(--sp-white);
  margin-bottom: 20px;
  text-align: left;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%
}

.input-wrapper input[type='text'] {
  width: 100%;
  padding: 15px 20px;
  padding-right: 50px;
  font-size: var(--sp-body-large);
  font-weight: bold;
  border-radius: var(--sp-button-border-radius);
  border: none;
  outline: none;
}

.img-upload-preview-wrapper {
  display: flex; 
  align-items: flex-start; 
  gap: 20px; 
  width: 100%;
  height: 170px;
}

.char-indicator {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
  color: black;
  transition: color 0.3s ease;
}

.char-indicator.warning {
  color: red;
  font-weight: bold;
}

.img-upload-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-upload-container label {
  margin-top: 20px;
}

.img-upload-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.img-upload-button {
  display: flex;
  align-items: center;
  background-color: var(--sp-white);
  border: none;
  color: var(--sp-dark-green);
  font-size: var(--sp-body-large);
  border-radius: var(--sp-button-border-radius);
  width: 100%;
  height: 80px;
  text-align: center;
  gap: 10px;
}

.button-text {
  font-weight: bold;
}

.image-preview {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  display: flex;
}

.image-preview img {  
  height: 100%;   
}

.confirm-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between; /* Spaces buttons evenly */
  width: 60%;
  margin: 25px 0px;
  column-gap: 20px;
}

.nw-cancel-button,
.nw-save-button {
  padding: 15px 20px;
  font-size: var(--sp-heading-5);
  font-weight: bold;
  border-radius: var(--sp-button-border-radius);
  border: none;
  width: 30%;
  text-align: center;
  flex: 1; /* Allows each button to take equal space within the container */
  width: calc(50% - 10px); /* Ensures each button is 50% minus half the gap */
}

.nw-cancel-button {
  background-color: #8a0a2a;
  color: white;
}

.nw-save-button {
  background-color: var(--sp-light-green);
  color: white;
}

.image-icon {
  color: white;
  font-size: var(--sp-icon-size-large);
  margin-right: 20px;
}

@media (max-width: 767px) {
  .input-container {
    width: 80%;
  }

  .image-upload-container {
    width: 80%;
  }

  .image-preview {
    margin-left: 5px;
  }

  .confirm-button-container {
    width: 80%;
    column-gap: 20px;
  }

  .nw-cancel-button,
  .nw-save-button {
    width: 50%;
  }
}

@media (max-width: 515px) {

  .img-upload-preview-wrapper {
    flex-direction: column;
    height: 350px;
  }

  .img-upload-button-container {
    width: 100%;
  }

  .image-preview {
    width: 100%;
  }

  .image-preview img {
    height: 150px;
    width: 150px;
  }
}