.photo-fetcher {
  padding: 20px;
  width: 100%;
  height: 100vh;
}

.photo-fetcher h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.photo-fetcher input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--sp-gray-sp);
  border-radius: 4px;
  font-size: 1rem;
}

.search-button {
  padding: 10px 20px;
  background-color: var(--sp-light-green);
  border: none;
  border-radius: 4px;
  color: var(--sp-white);
  font-size: var(--sp-heading-6);
  font-weight: bold;
}

.search-button:disabled {
  background-color: #ccc;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 100px; /* Last images aren't behind return-save-button-container */
}

.fetch-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.photo {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--sp-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo.selected {
  border: 2px solid var(--sp-dark-green);
  box-shadow: 0px 0px 10px var(--sp-light-green);
  transform: scale(1.05);
}

.photo img {
  max-width: 100%;
  max-height: 150px; /* Restrict height for better alignment */
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.zoom-button {
  color: var(--sp-black);
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.photo .button-icon {
  width: 30px;
}

.return-save-button-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 10px;
  background-color: var(--sp-white);
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000; /* Ensures the buttons stay on top of other content */
  border: none;
  border-radius: 8px;
}

.return-btn {
  padding: 15px 20px;
  width: 30%;
  background-color: var(--sp-red);
  font-size: var(--sp-heading-5);
}

.save-btn {
  padding: 15px 20px;
  width: 30%;
  background-color: var(--sp-light-green);
  font-size: var(--sp-heading-5);
}

@media (max-width: 767px) {
  .search-bar-container {
    flex-direction: column;
  }

  .photo-fetcher input,
  .search-button {
    width: 100%;
  }

  .return-save-button-container {
    bottom: 20%;
  }

  .return-save-button-container button {
    width: 40%;
    height: 10%;
  }

  .photo-container {
    padding-bottom: 50px;
  }

  .photo {
    flex: 1 1 calc(50% - 20px);
  }
}
