.phase1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-components {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height: 200px;
    width: 200px;
}

.interactive-components {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.letter-tiles {
    display: flex;     
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.letter-tiles .letter-tile {
    width: 42px;
    height: 42px;
    font-size: 36px;
    font-weight: 700;
}

.ph1-ready-button {
    font-size: var(--sp-heading-5);
    font-weight: bold;
    border-radius: var(--sp-button-border-radius);
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #72A895;
    color: white;
    font-family: Verdana;
    width: 200px;
    height: 67.139px;
}