/* LevelsPage.css */

.levels-page {
    display: grid;
    grid-template-areas: 'top-bar';
    height: 100vh;
    background-color: #06705b;
}

.levels-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: top-bar;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
}

.path-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
}

.path-container svg path {
    position: relative;
    z-index: 0;
    height: 100%;
}