.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-overlay[data-modal-type='image-cropper'] {
  inset: 0;
}

.modal-overlay[data-modal-type='image-cropper'] .modal-content {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: none;
  max-height: none;
}

.modal-overlay[data-modal-type='papunet'] .modal-content {
  width: 95vw;
  height: 95vh;
}

@media (max-width: 767px) and (max-height: 270px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    top: 70%;
    width: 90vw;
    height: 60vh;
  }
}

@media (max-width: 767px) and (min-height: 271px) and (max-height: 450px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    top: 40%;
    width: 90vw;
    height: 70vh;
  }
}

@media (max-width: 767px) and (min-height: 451px) and (max-height: 720px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    top: 25%;
    width: 90vw;
    height: 70vh;
  }
}

@media (max-width: 767px) and (min-height: 721px) and (max-height: 1150px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    top: 15%;
    width: 90vw;
    height: 70vh;
    max-height: 600px;
  }
}

@media (min-height: 1151px) and (max-height: 1500px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    width: 90vw;
    height: 70vh;
    max-height: 600px;
    bottom: 10%;
  }
}

@media (min-width: 768px) {
  .modal-overlay[data-modal-type='image-cropper'] .modal-content {
    width: 90vw;
    height: 70vh;
    max-width: 600px;
    max-height: 600px;
  }
}
