@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --sp-dark-green: #06705b;
  --sp-light-green: #72a895;
  --sp-gray-sp: #4d4d4d;
  --sp-white: #ffffff;
  --sp-black: #232323;
  --sp-light-yellow: #f0d784;
  --sp-red: #8a0a2a;
  --sp-disabled-gray: #9b9b9b;

  /* Fonts */
  --sp-global-font: 'Verdana', sans-serif;

  /* Headings */
  --sp-heading-1: clamp(36px, 4vw, 59px);
  --sp-heading-2: clamp(32px, 3.5vw, 54px);
  --sp-heading-3: clamp(24px, 3vw, 38px);
  --sp-heading-4: clamp(20px, 2.5vw, 34px);
  --sp-heading-5: clamp(18px, 2vw, 30px);
  --sp-heading-6: clamp(16px, 1.5vw, 26px);

  /* Body */
  --sp-body-large: clamp(18px, 1.2vw, 20px);

  /* Font sizes */
  --sp-icon-size-large: 100px;
  --sp-icon-size-medium: 80px;
  --sp-icon-size-small: 40px;
  --sp-icon-size-extra-small: 25px;

  --sp-button-border-radius: 10px;
}

body {
  font-family: var(--sp-global-font);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sp-global-font);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-sp-primary {
  @apply text-sp-white font-bold text-2xl rounded-sp-button p-4 lg:p-8;
}

.btn-sp-secondary {
  @apply text-sp-white font-bold text-2xl rounded-sp-button p-4 lg:p-8;
}

@media (max-width: 370px) {
  .cropper-container {
    width: 100% !important;
    height: 90% !important;
  }
}

@media (max-width: 211px) {
  .cropper-container {
    width: 100% !important;
    height: 85% !important;
    top: 15px;
  }
}
